body,
html {
  margin: 0;
  padding: 0;
  font-family: "Jura", sans-serif;
}

button {
  background: radial-gradient(
    43.6% 43.6% at 49.98% 100.45%,
    #41b6e6 0%,
    #0047bb 55%,
    #003399 100%
  );
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.right {
  margin-top: 10px;
  float: right;
}